#maintitle {
  display: inline-block;
  text-align: center;
  font-size: 24pt;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
}
#tagline {
  display: inline-block;
  text-align: center;
  font-size: 16pt;
  font-family: arial;
  font-style: italic;
}
.legislator > .votelabel {
  color: black;
}
.legislator {
  /* Styling as needed */
}
.legislator > span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 192px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
}
.nonselected {
  border: 1px dashed black;
}
.Republican {
  border: 1px solid black;
  background-color: #b33535;
}
.Democratic {
  border: 1px solid black;
  background-color: #3574b3;
}
.Nonpartisan,
.Independent,
.Green {
  border: 1px solid black;
  background-color: #35b374;
}